.log{
    display: inline-block;
    width: 35%;
    min-width: 300px;
}
@media screen and (min-width: 640px){
    .log{
        margin-right: 40px;
    }
}
@media screen and (max-width: 639px){
    .log{
        width: 90%;
    }
}

.log button{
    margin-left: auto;
}

.log-content{
    height: 500px;
    border: 1px solid;
    text-align: left;
    overflow: scroll;
    padding: 10px;
}

.log-header{
    text-align: left;
    display: flex;
    margin-bottom: 15px;
    font-size: 25px;
}
